
/* .background{
    background-color: rgb(12, 12, 165);
} 

.colorText{
    color: rgb(211, 16, 16);
} */

/* @media (prefers-color-scheme: light){
    .background{
        background-color: white;
    }
    .colorText{
        color: rgb(12, 12, 165);
    }
}
@media (prefers-color-scheme: dark){
    .background{
        background-color: rgb(12, 12, 165);
    }
    .colorText{
        color: rgb(211, 16, 16);
    }
}  */

.btn-toggle{
    position : absolute;
    top: 20%;
    right: 8%;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    background: rgb(12, 12, 165);
    color: rgb(211, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}